 <!-- <div className="container-fluid mt-3 d-flex flex-wrap">
    <div className="row ms-5">
        <div className="col-md-4 p-3 border border-dark" > -->
<div class="divf">
    <div class="divs">
        <div class="divt">
            <div class="div1">
                <div class="designs-img">
                    <img class="div-img"
                        src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" />

                    <div className="overlay">
                        <button class="viewmore2"> View More</button>
                    </div>
                </div>
                <div class="div2">
                    <img class="pro-img"
                        src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                        alt="Professional" />
                    <p class="lastP"></p>
                </div>
            </div>
            <div class="div1">

                <div class="designs-img">
                    <img class="div-img"
                        src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop" />
                    <div className="overlay">
                        <button class="viewmore2"> View More</button>
                    </div>
                </div>

                <div class="div2">
                    <img class="pro-img"
                        src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                        alt="Professional" />
                    <p class="lastP"></p>
                </div>

            </div>
            <div class="div1">
                <div class="designs-img">
                    <img class="div-img"
                        src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" />

                    <div className="overlay">
                        <button class="viewmore2"> View More</button>
                    </div>
                </div>
                <div class="div2">
                    <img class="pro-img"
                        src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                        alt="Professional" />
                    <p class="lastP"></p>
                </div>

                

            </div>
             <div class="div1">
                <div class="designs-img">
                    <img class="div-img"
                        src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" />

                    <div className="overlay">
                        <button class="viewmore2"> View More</button>
                    </div>
                </div>
                <div class="div2">
                    <img class="pro-img"
                        src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                        alt="Professional" />
                    <p class="lastP"></p>
                </div>

        </div>
    </div>
    </div>
    </div>