.form-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#form-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
#user-fullname {
    min-height: 80px; 
    height: auto; 
}
/* extrA */
/* img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 4px;
  } */

  .dropzone {
    position: relative;
    border: 2px dashed #ced4da;
    border-radius: 4px;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 300px;
}


  .uploaded-image {
    max-width: 100%; /* Image should not exceed container width */
    max-height: 200px; /* Set a maximum height */
    object-fit: cover; /* Cover the space while maintaining the aspect ratio */
    border-radius: 4px;
    margin-top: 20px;
}
.dz-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.circle-crop  {
  border-radius: 50% !important;
}
.single-explore-item {
background: #fff;
border: 1px solid #edeff1;
border-radius: 3px;
margin-bottom: 25px;
-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-ms-transition: .3s linear;
-o-transition: .3s linear;
transition: .3s linear;
}
.single-explore-img-info {
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
opacity: 0;
visibility: hidden;
-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-ms-transition: .3s linear;
-o-transition: .3s linear;
transition: .3s linear;

}

.single-explore-item:hover .single-explore-img-info{
    opacity:1;
    visibility:visible;
    bottom:0px
}
.single-explore-img-info button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 21px;
    line-height: 21px;
    background: #ff545a;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;

}