<div class="app-body">

    <div class="profile-wrapper">
        <header>
            <div class="container">
                <div class="profile">
                    <div class="profile-image">
                        <!-- <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                        alt=""> -->
                        <img *ngIf="profileData?.profileImg_URL"
                            [src]="getProfileImageUrl(profileData.profileImg_URL + '?w=152&h=152&fit=crop&crop=faces')"
                            alt="Profile Image" width="152" height="152"
                            alt="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces">
                    </div>
                    <div class="profile-user-settings">
                        <h1 class="profile-user-name">{{profileData?.name}}</h1>
                        <button class="btn profile-edit-btn">Edit Profile</button>
                        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="profile-stats">

                        <ul>
                            <li><span class="profile-stat-count">164</span> posts</li>
                            <li (click)="goToFollows(profileData.profile_id)"><span class="profile-stat-count">188</span> followers</li>
                            <li><span class="profile-stat-count">206</span> following</li>
                        </ul>
                    </div>
                    <div class="profile-bio">
                        <p><span class="profile-real-name">{{profileData?.name}}</span> {{profileData?.bio}} 📷✈️🏕️</p>
                    </div>
                    <!-- <button class="btn-follow">follow </button> -->
                    <div class = "button-div"><button class="btn-follow">follow </button> </div>
                </div>
            </div>

        </header>

        <main>
            <div class="container-img">
                <div class="gallery">
                    <!-- *ngFor directive used for iterating over an array and generating a template for each item in that collection -->
                    <!-- t dynamically creates a new instance of the template for each item  -->

                    <!-- <div class="gallery-item" *ngFor="let imageUrl of postImageUrls" tabindex="0"> -->
                    <!-- <img [src]="imageUrl" class="gallery-image" alt=""> -->

                    <!-- <div class="gallery-item" *ngFor="let post of postData" tabindex="0"
                        (click)="goToComments(post.post_id)"> -->

                        <div class="gallery-item" *ngFor="let post of postData" tabindex="0">
                 <img [src]="getPostImageUrl(post.media_url)" class="gallery-image" alt="">

                        <div class="gallery-item-info">
                            <ul>
                                <!-- <li class="gallery-item-likes"(click)="LikePost(post.post_id)"> -->
                                <li class="gallery-item-likes"(click)="LikePost(post)">
                                    <span class="visually-hidden">Likes:</span>
                                    <!-- <i class="fas fa-heart" aria-hidden="true"></i>56 -->
                                 <i class="fas fa-heart" [ngClass]="{'liked': post.isLiked}" aria-hidden="true"></i>
                                     {{ post.likeCount}} 
                                    </li>
                                <li class="gallery-item-comments" (click)="goToComments(post.post_id)"><span class="visually-hidden">Comments:</span>
                                    <i class="fas fa-comment" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>