
 <div class="create-profile">
    <div class="form-container">
      <!--  binds the form's submit event to the submitForm() -->
      <!-- #myForm="ngForm" creates a template reference variable (myForm)
       that allows you to interact with the form's properties and methods within our template. -->
<!-- ngForm directive enhances the form element by enabling Angular to track the state of the form and its controls -->

      <form (ngSubmit)="submitForm()" #profileForm="ngForm">
        <div class="column-left">

          <label for="name"> Profile Name:</label>
          <input type="text" name="name" id="name" ngModel [(ngModel)]="name" required>
          <!-- bind data ngModel directive is used to bind the value of a form control,,ngModel allows the 
           model (the component's TypeScript class) and the view (the HTML template) to stay in sync-->

          <label for="email">Email:</label>
          <input type="email" name="email" id="email" ngModel [(ngModel)]="email" required>

  
          <label for="bio">Bio:</label>
          <textarea name="bio" id="bio" ngModel [(ngModel)]="bio" required></textarea>

        <button type="submit">Submit</button>
        </div>
  
        <div class="column-right">
          <label for="profileImg_URL">Profile Picture:</label>
          <input type="file" name="profileImg_URL" id="photo" (change)="displayProfilePic($event)">

          <img src="#" alt="Profile Picture" [style.display]="profileImg_URL ? 'block' : 'none'" [src]="profileImg_URL" id="profilePic">
        </div>
      </form>
    </div>
  </div>
  